fastapi
uvicorn
motor
pydantic
pydantic-settings
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
argon2-cffi
python-multipart
python-dotenv
certifi
numpy==1.26.4
opencv-python-headless
cloudinary
google-generativeai
edge-tts
